
<nav id="sidebar">
    {% load static %} 
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style='background-image: url("{%static 'Departamento/images/dgape.png' %}");'></a>
      <h3 style="color:#fff;">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
  
    
    <ul class="list-unstyled components mb-5">
      <li>
        <a href="#"></a>
      </li>
     
      {% if perms.departamentos %}
      <li>
        <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenuDGAPE(event)" class="dropdown-toggle">GESTÃO DGAPE</a>
        <ul class="list-unstyled collapse">
         
         <!--  <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenuinventariodgape(event)" class="dropdown-toggle">Lançamento Inventario</a>
          <ul class="list-unstyled collapse">
            <li>
                <a onclick="window.location.href='/inventario/equipamento/index/'">&nbsp;&nbsp;&nbsp;Equipamentos</a>
            </li>
            <li>
                <a onclick="window.location.href='/inventario/mobiliario/index'">&nbsp;&nbsp;&nbsp;Mobiliario</a>
            </li> 
          </ul>-->
          <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenugestaopatrimonal(event)" class="dropdown-toggle">Gestão Patrimonial</a>
          <ul class="list-unstyled collapse">
              <li>
                <a onclick="acessorio_form('gestao')">&nbsp;&nbsp;&nbsp;Acessorio</a>
              </li>
              <li>
                <a onclick="index('gestao')">&nbsp;&nbsp;&nbsp;Equipamentos</a>
              </li>
              <li>
                 <a onclick="mobiliario_form('gestao')">&nbsp;&nbsp;&nbsp;Mobiliario</a>
              </li>
              <li>
                <a onclick="kit_form()">&nbsp;&nbsp;&nbsp;Registar KIT</a>
              </li>
          </ul>
          <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenugestaopatrimonal(event)" class="dropdown-toggle">Lançamento Inventario</a>
          <ul class="list-unstyled collapse">
              <li>
                <a onclick="acessorio_form('lancamento')">&nbsp;&nbsp;&nbsp;Acessorio</a>
              </li>
              <li>
                <a onclick="index()">&nbsp;&nbsp;&nbsp;Equipamentos</a>
              </li>
              <li>
                 <a onclick="mobiliario_form('lancamento')">&nbsp;&nbsp;&nbsp;Mobiliario</a>
              </li> 
          </ul>
        </ul>
      </li>
       <!--
      <li>
        <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenuDGAPE(event)" class="dropdown-toggle">GESTÃO ELEITORAL</a>
        <ul class="list-unstyled collapse">
          <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenuinventariodgape(event)" class="dropdown-toggle">Lançamento Inventario</a>
          <ul class="list-unstyled collapse">
            <li>
                <a onclick="window.location.href='/inventario/equipamento_eleitoral/index/'">&nbsp;&nbsp;&nbsp;Equipamentos</a>
            </li>
            <li>
                <a onclick="window.location.href='/inventario/mobiliario_eleitoral/index'">&nbsp;&nbsp;&nbsp;Mobiliario</a>
            </li>
          </ul>
          <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenugestaopatrimonal(event)" class="dropdown-toggle">Lançamento Patrimonial</a>
          <ul class="list-unstyled collapse">
              <li>
                <a onclick="window.location.href='/gestao_equipamento/equipamento_eleitoral_index'">&nbsp;&nbsp;&nbsp;Equipamentos</a>
              </li>
              <li>
                <a onclick="window.location.href='/gestao_mobiliario/mobiliario_eleitoral_index'">&nbsp;&nbsp;&nbsp;Mobiliario</a>
              </li>
          </ul>
          </ul>
      </li>-->
      <!--<li>
        <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenugestaopatrimonal(event)" class="dropdown-toggle">GESTÃO KIT</a>

        <ul class="list-unstyled collapse">
          <li>
            <a onclick="kit_form()">&nbsp;&nbsp;&nbsp;Registar KIT</a>
          </li>
           <!--
            <li>
              <a onclick="window.location.href='/gestao_kit_eleitoral/equipamento'">&nbsp;&nbsp;&nbsp;Lançamento de Itens</a>
            </li>
        
        </ul>
      </li>  -->
      {% endif %}
     <!-- 
      <li>
        <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenuDGAPE(event)" class="dropdown-toggle">GESTÃO DGAPE</a>
        <ul class="list-unstyled collapse">
          <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenuinventariodgape(event)" class="dropdown-toggle">Consultar Inventario</a>
          <ul class="list-unstyled collapse">
            <li>
                <a onclick="window.location.href='/diretor/index/'">&nbsp;&nbsp;&nbsp;Equipamentos</a>
            </li>
            <li>
                <a onclick="window.location.href='/diretor/dgape/inventario_mobiliario/'">&nbsp;&nbsp;&nbsp;Mobiliario</a>
            </li> 
          </ul>
          <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenugestaopatrimonal(event)" class="dropdown-toggle">Consultar Patrimonial</a>
          <ul class="list-unstyled collapse">
              <li>
                <a onclick="window.location.href='/diretor/dgape/equipamento/'">&nbsp;&nbsp;&nbsp;Equipamentos</a>
              </li>
              <li>
                <a onclick="window.location.href='/diretor/dgape/mobiliario/'">&nbsp;&nbsp;&nbsp;Mobiliario</a>
              </li>
          </ul>
        </ul>
      </li>
      <li>
        <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenuDGAPE(event)" class="dropdown-toggle">GESTÃO ELEITORAL</a>
        <ul class="list-unstyled collapse">
          <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenuinventariodgape(event)" class="dropdown-toggle">Consultar Inventario</a>
          <ul class="list-unstyled collapse">
            <li>
                <a onclick="window.location.href='/diretor/eleitoral/inventario_equipamento/'">&nbsp;&nbsp;&nbsp;Equipamentos</a>
            </li>
            <li>
                <a onclick="window.location.href='/diretor/eleitoral/inventario_mobiliario/'">&nbsp;&nbsp;&nbsp;Mobiliario</a>
            </li>
          </ul>
          <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenugestaopatrimonal(event)" class="dropdown-toggle">Consultar Patrimonial</a>
          <ul class="list-unstyled collapse">
              <li>
                <a onclick="window.location.href='/diretor/eleitoral/equipamento/'">&nbsp;&nbsp;&nbsp;Equipamentos</a>
              </li>
              <li>
                <a onclick="window.location.href='/diretor/eleitoral/mobiliario/'">&nbsp;&nbsp;&nbsp;Mobiliario</a>
              </li>
          </ul>
        </ul>
      </li>
      <li>
        <a href="#" data-toggle="collapse" aria-expanded="false" onclick="toggleSubmenugestaopatrimonal(event)" class="dropdown-toggle">GESTÃO KIT</a>

        <ul class="list-unstyled collapse">
          <li>
            <a onclick="window.location.href='/diretor/eleitoral/kit_eleitoral/'" >&nbsp;&nbsp;&nbsp;Registar KIT</a>
          </li>
          <li>
            <a onclick="window.location.href='/gestao_kit_eleitoral/equipamento'">&nbsp;&nbsp;&nbsp;Lançamento de Itens</a>
          </li>
        </ul>
      </li>-->
      
     <li>  
        <a  onclick="window.location.href='/auth/logout'"><span class="fa fa-sign-out mr-3"  style="color:#dc3545;"></span> Sign Out </a>
     </li>
  </ul>

<div class="footer">
    <p style="color:#fff;">
         Copyright &copy;<script>document.write(new Date().getFullYear());</script> DGAPE
    </p>
</div>
</div>
</nav>