
<nav id="sidebar">
    {% load static %} 
    <div class="p-4 pt-5">
      <a href="#" class="img logo rounded-circle mb-5" style='background-image: url("{%static 'Departamento/images/dgape.png' %}");'></a>
      <h3 style="color:#fff;">{{ request.user.first_name }} {{ request.user.last_name }}</h3>
  
    
    <ul class="list-unstyled components mb-5">
      <li>
        <a href="#"></a>
      </li>
      <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">GESTÃO DE INVENTARIO</a>
        <ul class="list-unstyled collapse" id="homeSubmenu">
          <li>
              <a onclick="window.location.href='/inventario/equipamento/index/'" >Equipamentos</a>
          </li>
          <li>
              <a onclick="window.location.href='/inventario/mobiliario/index'">Mobiliario</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#pagegestao" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">GESTÃO</a>
        <ul class="list-unstyled collapse" id="pagegestao">
          <li>
            <a onclick="window.location.href='/gestao_equipamento/equipamento_index'" >EQUIPAMENTOS</a>
          </li>
          <li>
            <a onclick="window.location.href='/gestao_mobiliario/mobiliario_index'">MOBILIARIOS</a>
          </li>
        </ul>
      </li>
    <li>  
        <a  onclick="window.location.href='/auth/logout'"><span class="fa fa-sign-out mr-3"></span> Sign Out </a>
      </li>
  </ul>

<div class="footer">
    <p style="color:#fff;">
         Copyright &copy;<script>document.write(new Date().getFullYear());</script> DGAPE
    </p>
</div>
</div>
</nav>