<!doctype html>
<html lang="en">
  <head>
  	<title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    {% load static %} 

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'Departamento/css/style.css' %}">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
      {% include 'template/sidebar.html' %}

        <!-- Page Content  -->
     {% include 'template/menus.html' %}
		</div>

    <script src="{%static 'Departamento/js/jquery.min.js'%}"></script>
    <script src="{%static 'Departamento/js/popper.js'%}"></script>
    <script src="{%static 'Departamento/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'Departamento/js/main.js'%}"></script>
  </body>
</html>