<!doctype html>
<html lang="en">
  <head>
  	<title>{% block title %}SDGAPE{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    {% load static %} 

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'Departamento/css/style.css' %}">
    {% block extra_styles %}{% endblock %}

    {% csrf_token %}
      <meta name="csrf-token" content="{{ csrf_token }}">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
      {% include 'template/sidebar.html' %}

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
      
              <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
              </button>
              <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa fa-bars"></i>
              </button>
            </div>
          </nav>
      
        {% block content %}

        {% endblock %}
        </div>
    <script src="{%static 'Departamento/js/jquery.min.js'%}"></script>
    <script src="{%static 'Departamento/js/popper.js'%}"></script>
    <script src="{%static 'Departamento/js/bootstrap.min.js'%}"></script>
    <script src="{%static 'Departamento/js/main.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      var jqOld = jQuery.noConflict(); // Salva a versão antiga do jQuery
   </script>
    <script src="{%static 'jscript/jscript.js'%}"></script>
    {% block extra_jscript %}
    {% endblock %}
  </body>
</html>
